@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
    font-weight: bold;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: rgb(248, 242, 242);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpeg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px;
    cursor: pointer;
    margin-left: 350px;
}

.icons i:active {
    transform: scale(1.1);
  }

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem:hover {
    /* CSS properties for button on hover */
    background-color: white;
    transform: scale(1.06);
  }

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    transform: translateY(17px);
}

.home-button {
    /* CSS properties for styling the button */
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 34px;
  }
  
  .home-button:hover {
    /* CSS properties for button on hover */
    background-color: grey;
    transform: scale(1.1);
  }
  
  .home-button:active {
    /* CSS properties for button when clicked/pressed */
    background-color: lightblue;
  }
  #repeat {
    font-size: 2rem; 
    margin-top: 02px; 
    margin-left: 300px; 
    transition: color 0.3s ease; 
    color: rgba(255, 255, 255, 0.5); 
    cursor: pointer; }

    #repeat.clicked {
        color: white; }
